* {box-sizing: border-box;}
body { 
      background-color: #5280C5;
      background-image: url(gradientblue.jpg);
      color: #003366;
       font-family:Verdana;
}
#wrapper{
      background-color: #f0f0f0;
         margin-left: auto;
         margin-right: auto;
         width:90%;
         min-width: 700px;
}
header{ 
      background-color :#000066;
      background-image: url(bigfish.gif);
      background-position: center;
      background-repeat: no-repeat;
         color: #F0F0F0;
          font-family:Georgia, "Times New Roman", serif;
      padding: 1em;
      text-align: center;
}
h1{line-height: 200%;
text-indent: 1em;}
h2{font-size: 1.2em;}
nav{ font-weight: bold;}
dt {
color: #5280C5;
font-family:Georgia;      
font-size: 1.1em;
font-weight: bold;      
}      
.category {
color: #5380C5;
font-family:Georgia;
font-weight: bold;      
}      
footer{ 
   font-size: .60em;
   font-style: italic;
}
